body {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input {
    width: 99%;
}

.register-item {
    margin: 35px 0;
    align-items: stretch;
}

